.primary-aside {
  float: left;
  background-color: #E8E8E9;
  color: #7A7A7B;

  flex: 0 0 200px;
  order: -1;

  h2 {
    margin: 15px 15px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      padding: 15px 20px;
    }

    li:hover {
      background-color: #D6D6D7;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
