@import "partials/mixins";

.primary-header {
  color: #FFFFFF;
  background-color: #00B9FF;
  height: 60px;

  display: flex;
  align-items: center;

  @include vendor-prefix('user-select', 'none');

  h1 {
    margin: 0 0 0 15px;
  }
}
