@import "partials/no-select";

.primary-header {
  color: #FFFFFF;
  background-color: #00B9FF;
  height: 60px;

  display: flex;
  align-items: center;

  @include no-select;

  h1 {
    margin: 0 0 0 15px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
