@import "partials/mixins";

.primary-container .home {
  color: #a3a3a4;
  text-align: center;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include vendor-prefix('user-select', 'none');

  .figure, .label {
    margin: 10px;
  }

  .figure {
    font-size: 144pt;
  }

  .label {
    font-size: 20pt;
  }
}
