@import "partials/no-select";

.primary-container .home {
  color: #a3a3a4;
  text-align: center;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  @include no-select;

  .figure, .label {
    margin: 10px;
  }

  .figure {
    font-size: 144pt;
  }

  .label {
    font-size: 20pt;
  }
}
