html, body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font: Helvetica, Arial, sans-serif;
}

header, aside, footer {
  display: block;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .middle-row {
    display: flex;
    flex: 1;
  }
}
